@font-face {
    font-family: "inter";
    src: url(../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "playfair";
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

:root{
    --color-1:#f5f1e3;
    --color-2:#1a1a1a;
    --color-3:#3f3f3f;
    --color-4:#1d1d1d;
    --color-5:rgb(197, 119, 47);


    --page-font:"inter", sans-serif;
    --heading-font:"playfair";

    --page-mar:0 auto;
    --page-width: 1200px;
    --main-width: 950px;

    /* h1-h4 */
    --heading-text-transform: uppercase;

    /* h1 */
    --heading1-text-size:2.7em;

    /* h2 */
    --heading2-text-size:2.2em;

    /* h3 */
    --heading3-text-size:1.5em;

    /* h4 */
    --heading4-text-size:1.1em;
}

html{
    box-sizing: border-box;
    line-height: 1.4em;
    background: var(--color-2);
}


.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}


h1,h2,h3,h4{
    color: var(--color-1);
    font-family: var(--page-font);
    text-transform: var(--heading-text-transform);
    margin-top: 0;
    line-height: 1.5em;
}

h1{
    font-family: var(--heading-font);
    font-size: var(--heading1-text-size);
}

h2{
    font-size: var(--heading2-text-size);
    line-height: 1.5em;
    color: var(--color-2);
}

h3{
    color: var(--color-5);
    font-size: var(--heading3-text-size);
}

h4{
    font-size: var(--heading4-text-size);
    color: var(--color-2);
    margin-bottom: 0.8em;
}

h5{
    font-size: var(--heading4-text-size);
    color: var(--color-2);
    margin-bottom: 0.8em;
    font-family:var(--page-font);
}

p{
    font-family: var(--page-font);
    color: var(--color-2);
}

nav a{
    font-family: var(--page-font);
}

body{
    background-color: #e2e2e2;
    margin: 0;
}

.dashboard{
    list-style: none;
}

.dashboard a{
    text-decoration: none;
    color:whitesmoke;
    font-family:"inter" ;
}

ul li{
    margin-bottom: 20px;
    text-align: right;
    margin-right: 50px;
}

.dashboard a:hover{
    color: orange;
}

.dash-bg{
    background: #333333;
}

.dash-pos{
    width: 300px;
    height: 100vh;
    position:fixed;
}

.dash-bg h2{
    font-family: "inter";
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 50px;
}


.background{
    background: #cacaca;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login{
    border: 5px solid rgb(226, 226, 226);
    border-radius: 20px;
    width: 30%;
    margin: 0 auto;
    background:#333333;
    height: 30%;
    padding: 3rem;
}

.login h2{
    color:whitesmoke;
    text-align: center;
    
}

.error-container{
    height: 20px;
}

.login input{
    margin-bottom: 10px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40% );
}

input,textarea{
    margin: 1em 0;
    font-family: var(--page-font);
    font-size: 1em;
    border: 2px solid var(--color-2);
    padding:0.7em 0.5em;
    display: block;;
}

.submit-btn{
    background: white;
    border-radius: 10px 10px;
    width: 100px;
    height: 40px;
    font-size: 1.2rem;
}

.login-btn{
    margin-top: 20px;
}

.submit-btn:hover{
    background: orange;
    color: var(--color-2);
}

.error{
    color: rgb(255, 83, 83);
    position: relative;
    top: -30px;
}

.content-pos{
    margin-left: 400px;
    margin-right: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.centered{
    justify-content: center;
}


th{
    background: #333333;
    color: whitesmoke;
}

table{
    border-collapse: collapse;
}

table, th, td{
    border: 2px solid #333333;
}


th, tr,td{
    font-family: "inter";
    padding: 10px;
}

.button{
    text-decoration: none;
    color: var(--color-4);
    background: var(--color-5);
    padding: 5px;
    border-radius: 5px;
}

.button:hover{
    background: orange;
}

.add-form{
    margin-top: 50px;
}

.add-form form{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

input, textarea{
    margin: 0;
}

.add-btn{
    width: 20%;
    font-size: 1.2rem;
    align-self: self-end;
}

.denied{
    margin-left: 350px;
    padding-top: 40px;
    font-size: 1.2rem;
}


.card{
    margin: 20px 0;
    border: 2px solid #333333;
    border-radius: 20px;
    font-family: "inter";
    width: 700px;
}

.card-body{
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    padding: 10px
}

.card-header, .card-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.denied{
    font-family: "inter";
    text-align: end;
    color: red;
    padding: 10px;
}
.succeed{
    font-family: "inter";
    text-align: end;
    color: green;
    padding: 10px;
}